# Python
__pycache__/

# Virtual environment
*.egg-info/

# Distribution / packaging
build/

# OS-specific
.DS_Store
Thumbs.db

.coverage
coverage.xml
*.log
*.tmp

# Testing
debug_downloads/
yt-dlp_metadata/