# Python
__pycache__/

# Virtual environment
*.egg-info/

# Distribution / packaging
build/

# OS-specific
.DS_Store
Thumbs.db

.coverage
*.log
*.tmp

# Testing
debug_downloads/
yt-dlp_metadata/
*.db
*.db-shm
*.db-wal
cookies.txt

# lsp
*.pkl

# AI
references/