name: Scheduled Security Scans

on:
  schedule:
    - cron: "24 13 * * 2"
  workflow_dispatch:

permissions:
  contents: read
  security-events: write
  packages: read

jobs:
  security-scans:
    name: Security Scans
    uses: ./.github/workflows/security-scans.yml
